
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.rst-content blockquote {
	margin-left: 5px;
}

div.figure {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: auto 5px;
}

.rst-content div.figure p.caption {
    margin-bottom: 5px;
}
 .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
       this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
    vertical-align: top !important;
 }

.material-icons {
    display: inline-flex;
    vertical-align: middle !important;
    padding-bottom: 8px !important;
    padding-right: -5px !important;
}

.local_library {
	color: #2196f3;
}

.schedule {
	padding-bottom: 1px !important;
	background-color: #2196f3;
	border-radius: 50%;
	color: #fff;
}

.star {
	padding-bottom: 1px !important;
	background-color: #ffc107;
	border-radius: 50%;
	color: #fff;
}

img {
	height: 1.2em;
	vertical-align: text-bottom;
}

.rst-content .guilabel {
    display: inline-block;
    padding: 3px 5px;
    font-size: 80%;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}